:root {
    --primary-color5: rgba(127, 90, 240, 0.05);
    --primary-color10: rgba(127, 90, 240, 0.1);
    --border-color: rgba(127, 90, 240, 0.5);
    --primary-color: #7f5af0;
    --background-color: #16161a;
    --text-color: #fffffe;
    --border-color: rgba(127, 90, 240, 0.2);
}


.typing {
    /* height: 20px; */
    padding: 5px;
    display: inline-block;
    font-size: 0.8rem;
    opacity: 0;
}

/* Add the "is typing" text before the element */
  
 /* HTML: <div class="loader"></div> */
 .typing .loader {
    display: inline-block;
    margin-inline: 15px;
    width: 7px;
    aspect-ratio: 1;
    border-radius: 50%;
    animation: l5 1s infinite linear alternate;
  }
  @keyframes l5 {
      0%  {box-shadow: 10px 0 #fff, -10px 0 #fff2;background: #fff }
      33% {box-shadow: 10px 0 #fff, -10px 0 #fff2;background: #fff2}
      66% {box-shadow: 10px 0 #fff2,-10px 0 #fff; background: #fff2}
      100%{box-shadow: 10px 0 #fff2,-10px 0 #fff; background: #fff }
  }

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
/* .typing::before {
    content: "";
    display: inline-block;
    width: 60px;
    aspect-ratio: 4;
    background: radial-gradient(circle closest-side,#fff 90%,#ffff) 0/calc(100%/3) 100% space;
    clip-path: inset(0 100% 0 0);
    animation: l1 1s steps(4) infinite;
  }
  @keyframes l1 {to{clip-path: inset(0 -34% 0 0)}} */

.profile-container {
    position: relative;
    display: inline-block;
    /* Makes container wrap around image */
}

#nav-toggle {
    appearance: none;
    height: 20px;
    width: 20px;
    background: url(/assets/images/svgs/menu.svg);
    display: none;
    /* Hide by default */
}

.nav-aside:has(#nav-toggle:checked) .nav-txt {
    display: block;
    /* Hide the nav-aside if the nav-toggle is present */
}


.user-status {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;

    &::after {
        content: '';
        width: 12px;
        height: 12px;
        border: 2px solid #fff;
        border-radius: 50%;
        position: absolute;
        right: 1px;
        bottom: 5px;
    }

    &.online::after {
        background: #4CAF50;
    }

    &.offline::after {
        background: #ccc;
    }
}



.alert {
    position: fixed;
    bottom: 10px;
    right: -400px;
    /* Adjusted for smoother animation */
    background: var(--primary-color5);
    border: 1px solid var(--primary-color5);
    backdrop-filter: blur(10px);
    /* Subtle gradient */
    width: 350px;
    height: auto;
    /* Flexible height for content */
    padding: 15px 20px;
    /* Improved padding for content */
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    /* Softer shadow */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    /* Slightly smaller for better readability */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
    /* Darker text for contrast */
    text-align: center;
    opacity: 1;
    z-index: 100;
    /* Animations */
    animation: slideIn 0.5s forwards, fadeOut 2s 3s forwards;
    transition: all 1s;
}

/* Adjust animation for a smoother slide-in */
@keyframes slideIn {
    from {
        right: -400px;
    }

    to {
        right: 10px;
    }
}

/* Fade out with smoother easing */
@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.like.blue {
    filter: invert(43%) sepia(17%) saturate(3497%) hue-rotate(223deg) brightness(94%) contrast(102%);
}

.dislike.red {
    filter: invert(51%) sepia(69%) saturate(4026%) hue-rotate(359deg) brightness(100%) contrast(108%);
}

/* #authContainer {
    width: 25%;
    height: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
} */

.comments-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    backdrop-filter: blur(10px);
    background-color: rgba(22, 16, 42, 0.653);
    overflow: auto;
    width: 0;
    max-width: 500px;
    transition: width 1s;
}


.comment .user-profile {
    padding-bottom: 0;
    border-bottom: unset;
}

.comment {
    padding-block: 10px;
    border-bottom: dotted 1px var(--primary-color);
}

.comment .comment-info p {
    padding-left: 10px;
    border-left: solid 1px rgba(127, 90, 240, 0.5);
    word-break: break-all;
}

.all-comments {
    padding-inline: 10px;
    overflow: auto;


}

#authContainer {
    display: none;
    position: absolute;
}

* {
    box-sizing: border-box;
}


.toggle-comments {
    margin-left: auto;
    width: 40px;
    height: 40px;
    /* position: absolute; */
    /* top: 50%; */
    /* transform: translateY(-50%); */
    /* right: 40px; */
    /* background-color: rgba(128, 128, 128, 0.425); */
    /* z-index: 0; */
    /* padding: 5px; */
    /* border-radius: 20px; */
    /* display: none; */

}

.toggle-comments:hover {
    filter: brightness(1.5);
}



body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    /* background: #282537;
    background-image: -webkit-radial-gradient(top, circle cover, #3c3b52 0%, #252233 80%); */
    color: var(--text-color);
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "aside1 nav main aside2";

}

.empty-aside1 {
    grid-area: aside1;
    /* background-color: aquamarine; */
}

.nav-aside {
    grid-area: nav;
    /* background-color: teal; */

    /* Ensures it respects grid alignment */
}

nav {
    display: flex;
    flex-direction: column;
    position: sticky;
    /* justify-content: space-around; */
    align-items: center;
    top: 0;
    height: 100vh;
    /* background-color: teal; */
    padding-block: 50px;

}


main {
    grid-area: main;
    /* background-color: tomato; */
    border-left: 1px solid var(--border-color);
    border-right: 1px solid var(--border-color);
    width: 100%;
    overflow: auto;
    /* padding-inline: 5px; */
}

.chat-aside {
    grid-area: chat;
    /* background-color: teal; */
}

.empty-aside2 {
    grid-area: aside2;
    /* background-color: aquamarine; */

}

.nav-items {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.logout-btn {
    margin-top: auto;
    transform: translateZ(0);
    z-index: 1000;

}

li {
    display: grid;
    /* grid-template-columns: 1fr 3fr; */
    grid-template-columns: 50px 1fr;
    align-items: center;
    padding: 10px;
    gap: 15px;
    cursor: pointer;
    background-color: var(--bg);
    position: relative;

}

li:hover {
    filter: brightness(0.5);
}

.nav-items li.active {
    filter: brightness(0.5);

}

.add-post {
    margin-block: auto;
    border-radius: 50px;
    background-color: var(--primary-color);
    box-shadow: inset 0 4px 8px rgba(255, 255, 255, 0.3), 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    color: var(--background-color);
    font-weight: bolder;

}

.users {
    overflow: auto;
    border-block: 1px solid var(--primary-color10);
    margin-block: 10px;
    padding-block: 15px;
    padding-inline: 0;
    cursor: default;
    grid-template-columns: 1fr;
    gap: 0;

}

.profile-main {
    width: 100%;
    padding: 50px 20px;
    padding-top: 100px;
    display: flex;
    /* background-image: linear-gradient(-20deg, #ff2846 0%, #6944ff 100%); */

}

.profile-card {
    width: 100%;
    /* min-height: 460px; */
    margin: auto;
    box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
    background: #fff;
    border-radius: 12px;
    max-width: 700px;
    position: relative;
}

.imgContainer {
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 4;
    box-shadow: 0px 5px 50px 0px rgb(108, 68, 252),
        0px 0px 0px 7px rgba(107, 74, 255, 0.5);
}

.imgContainer img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-card-cnt {
    margin-top: -35px;
    text-align: center;
    padding: 0 20px;
    padding-bottom: 40px;
    transition: all .3s;
}

.profile-card-name {
    font-weight: 700;
    font-size: 24px;
    color: #6944ff;
    margin-bottom: 15px;
}

.profile-card-txt {
    font-size: 18px;
    font-weight: 500;
    color: #324e63;
    margin-bottom: 15px;
}

.profile-card-inf {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 35px;
}

.profile-card-inf-item {
    padding: 10px 35px;
    /* min-width: 150px; */
}

.profile-card-inf .profile-card-txt {
    font-weight: 500;
    margin-top: 7px;
}

.profile-card-inf-title {
    font-weight: 700;
    font-size: 27px;
    color: #324e63;
}

.users:hover {
    filter: unset;
}

.add-post span {
    grid-column: 2;
}

.add-post img {
    display: none;
}

.close-btn {
    background: none;
    position: absolute;
    right: 2px;
    top: 2px;
}

/* Popover container styling */
.add-post-form {
    /* Center the popover */


    border: 1px solid var(--primary-color10);
    background-color: #1b1926;
    border-radius: 8px;
    box-shadow: 0 0px 10px var(--primary-color10);
    padding: 30px;
    max-width: 500px;
    width: 90%;
    font-family: Arial, sans-serif;
    color: var(--text-color);
}

/* Form element styling */
.addPostForm label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.addPostForm input[type="text"],
.addPostForm input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Categories (checkboxes) styling */
.addPostForm .categories {
    margin-bottom: 15px;
}

/* Make each checkbox and label inline */
.addPostForm .categories label {
    display: inline-block;
    background-color: var(--primary-color5);
    color: var(--text-color);
    padding: 5px 10px;
    border: 1px solid var(--primary-color5);
    border-radius: 12px;
    margin-right: 10px;
    font-size: 14px;
    vertical-align: middle;
    cursor: pointer;

    &:has(+input:checked) {
        background-color: var(--primary-color);
        color: #fff;
        border: 1px solid var(--primary-color);
    }
}

.addPostForm .categories input[type="checkbox"] {
    margin-right: 15px;
    display: none;
    vertical-align: middle;
}

/* Submit button styling */
.addPostForm input[type="submit"] {
    display: block;
    width: 100%;
    background-color: var(--primary-color);
    box-shadow: inset 0 4px 8px rgba(255, 255, 255, 0.3), 0 4px 8px rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.addPostForm input[type="submit"]:hover {
    filter: brightness(1.2);
}

.add-post-popover-btn {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    opacity: 0;
    cursor: pointer;
}

.post {
    /* border-radius: 12px; */
    position: relative;
    padding: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* margin-bottom: 20px; */
    width: 100%;
    border-bottom: 1px solid #7f5af099;
    /* max-width: 600px; */
    /* Adjust width as needed */
}

.post:hover {
    background-color: var(--primary-color5);
    box-shadow: 0px 0px 1px var(--primary-color);
}

.post-info {
    padding: 15px 0;
    /* cursor: pointer; */
}

.post-info h2 {
    font-size: 20px;
    margin-bottom: 10px;
    /* color: #333; */
}

.post-info p {
    font-size: 14px;
    /* color: #555; */
    line-height: 1.6;
    line-break: anywhere;
    word-break: break-all;
}

.post-info img {
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
    height: auto;
    max-height: 500px;
    object-fit: contain;
}


.post-footer {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}

.post-footer img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.post-footer img:hover {
    transform: scale(1.1);
}

.likes-count,
.dislikes-count {
    font-size: 14px;
    font-weight: bold;
    /* color: #333; */
}

.user-profile {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-color);

}

.profile-image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--border-color);
}

.gradient {
    position: absolute;
    left: 0;
    right: 0;
    height: 20px;
    /* Height of the gradient */
    pointer-events: none;
    /* Ensure the gradient doesn't block interactions */
}

.users {
    /* box-shadow: 0px 0px 1px var(--primary-color); */
    padding-block: 0;
}

.users::after {
    content: '';
    position: sticky;
    left: 0;
    right: 0;
    height: 30px;
    pointer-events: none;
    bottom: 0;
    background: linear-gradient(to top, var(--primary-color5), rgba(0, 0, 0, 0));
}

.users::before {
    content: '';
    position: sticky;
    left: 0;
    right: 0;
    height: 15px;
    pointer-events: none;
    top: 0;
    background: linear-gradient(to bottom, var(--primary-color5), rgba(0, 0, 0, 0));
}

.profile-info {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    margin-left: 10px;
    color: var(--text-color);
}

.profile-info .name {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.profile-info .role {
    font-size: 14px;
    /* color: #777; */
    margin: 0;
}

.user-profile .date {
    margin-left: auto;
    font-size: 12px;
    /* color: #999; */
}


.nav-profile {
    display: flex;
    align-items: center;
    /* Dark teal for contrast */
    padding: 15px;
    /* Rounded corners */
    color: black;
    font-weight: bold;
    gap: 10px;
    /* Adds spacing between items */
    border-bottom: 1px solid var(--primary-color5);

    background-color: var(--primary-color5);
    border: 1px solid var(--primary-color5);

}



.nav-profile .profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* Circular profile pic */
    object-fit: cover;
    border: 2px solid white;
}

.profile-info {
    display: flex;
    flex-direction: column;
    /* Stack name & role */
    line-height: 1.2;
}

.profile-info .name {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.profile-info .role {
    font-size: 14px;
    color: #b0c4de;
    /* Soft grayish-blue for a subtle effect */
    margin: 0;
}

.nav-profile img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
}

.nav-profile img:last-child:hover {
    opacity: 1;
}

.category {
    display: inline-block;
    background-color: var(--primary-color5);
    color: var(--text-color);
    padding: 5px 10px;
    border: 1px solid var(--primary-color5);
    border-radius: 12px;
    font-size: 12px;
    margin-right: 5px;
    margin-bottom: 5px;
    transition: background-color 0.3s ease;
}


.add-comment-form {
    height: 40px;
    display: flex;
    position: sticky;
    margin: 10px;
    top: 0;
    z-index: 2;
    color: var(--text-color);
}

.comment-input {
    height: 100%;
    flex-grow: 1;
    padding: 0 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid var(--border-color);
    background-color: black;
    color: white;
}

.comment-input:focus {
    outline-color: var(--primary-color);
}

.add-comment-btn {
    height: 100%;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid var(--border-color);
    background-color: #1b1926;
    color: var(--text-color);
    width: 60px;

}

.unread {
    color: #FFFFFF;
    width: 20px;
    height: 20px;
    position: absolute;
    /* text-align: center; */
    /* line-height: 20px; */
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    font-size: 10px;
    /* margin-inline: 10px; */
    font-weight: bolder;
    border: 2px solid black;
    /* padding: 3px; */
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
}

/*    color: #FFFFFF;
    position: absolute;
    text-align: center;
    background-color: rgba(255, 0, 0, 0.884);
    font-size: 10px;
    font-weight: bold;

    border-radius: 50%;
*/

.profile-main {
    display: none;
}

.chat-main {
    display: none;
    /* background: url("/assets/images/svgs/bg1.png") no-repeat;
    background-size: contain;
    background-position: center; */
    /*  filter: blur(1px); */
    /* background-color: white; */
    /* display: grid; */
    grid-template-rows: 1fr 10fr 1fr;
    height: 100vh;
}

.chat-main .chat-header {
    border: black 1px solid;

}

.chat-main .chat-body {
    border: black 1px solid;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
}

.chat-main .chat-footer {
    border: black 1px solid;
}

.chat-message {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid var(--border-color);

    position: relative;
    padding-block: 20px;
}

.chat-message p {
    margin-block: 0;
}

.message-info {
    padding-top: 5px;
    overflow-wrap: break-word;

}

.message-content {
    border-left: solid 1px rgba(127, 90, 240, 0.5);
    padding-inline: 10px;
    line-break: anywhere;
    text-wrap: auto;
}

.chat-message .created_at {
    position: absolute;
    right: 10px;
    top: 10px;
}

.home-main {
    display: grid;
    color: var(--text-color);
}

/* Message container */
.message-container {
    display: flex;
    align-items: center;
    padding: 0.75rem;
    padding-bottom: 0;
    /* border-radius: 0.5rem; */
    height: 100%;
    /* background-color: #f9fafb; Light mode background */
    /* background-color: var(--primary-color10); */
}

/* Message input */
.message-input {
    flex: 1;
    margin: 0 1rem;
    padding: 0.625rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border: 1px solid var(--border-color);
    background-color: black;
    color: white;
    border-radius: 0.375rem;
    outline: none;
    transition: all 0.2s;
    resize: none;

}

.message-input:focus {
    border-color: var(--primary-color);
    /* Focus border color */
}



.user-detail {
    display: grid;
    grid-template-columns: 50px 1fr;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--bg);
    padding: 5px;
}

.user-detail:hover {
    filter: brightness(0.9);
}